<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Para evitar revelar información de los metadatos, establezca los valores siguientes en false antes de la implementación -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- Para recibir detalles de las excepciones en los fallos, con el fin de poder realizar la depuración, establezca el valor siguiente en true. Para no revelar información sobre las excepciones, establézcalo en false antes de la implementación -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
     
      </serviceBehaviors>
      
      <!-- [Guis] Agregado para que funcione el web service con peticiones http -->
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp/>
        </behavior>  
      </endpointBehaviors>
      <!-- [Guis] -->
    
    
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    
    <!-- [Guis] Agregado para que funcione el web service con peticiones http -->
    <services>
      <service name="Guis.Ejemplo.ServiceWCF.Svc.Cursos">
        <endpoint 
          address=""  
          binding="webHttpBinding" 
          contract="Guis.Ejemplo.ServiceWCF.Interface.ICursos"
          behaviorConfiguration="webBehavior"
        ></endpoint>
      </service>
    </services>
    <!-- [Guis] -->
  
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>
